.workstation {
    border: 2px solid red;
    width: 100%;
    height: 100%;

    .layout {
        height: 100%;
    }

    .tracks {
        border: 1px solid blue;
    }

    .transport {
        min-height: 5vh;
        display: flex;
        justify-content: center;
        color: #ddd;
    }

    .footer {
        display: flex;
        gap: 2rem;
        min-height: 45vh;
        border: 1px solid green;
    }

    .footerViewWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        align-items: flex-start;
        width: 100%;
        min-height: 100%;
    }
}
